{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if  success_message %}
      <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success_message }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2">Status:</label>
            <div class="col-sm-10">
              <select class="form-control" name="module_webmaniabrnfe_status" >
                {% if module_webmaniabrnfe_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Consumer Key:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="webmaniabrnfe_consumer_key" value="{{ webmaniabrnfe_consumer_key }}"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Consumer Secret:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="webmaniabrnfe_consumer_secret" value="{{ webmaniabrnfe_consumer_secret }}"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Access Token:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="webmaniabrnfe_access_token" value="{{ webmaniabrnfe_access_token }}"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Access Token Secret:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="webmaniabrnfe_access_token_secret" value="{{ webmaniabrnfe_access_token_secret }}"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Ambiente Sefaz:</label>
            <div class="col-sm-10">
              {% if webmaniabrnfe_sefaz_env == 1 %}
                <input type="radio" name="webmaniabrnfe_sefaz_env" value="1" checked/> Produção<br/>
                <input type="radio" name="webmaniabrnfe_sefaz_env" value="2"/> Desenvolvimento
              {% elseif webmaniabrnfe_sefaz_env == 2 %}
                <input type="radio" name="webmaniabrnfe_sefaz_env" value="1"/> Produção<br/>
                <input type="radio" name="webmaniabrnfe_sefaz_env" value="2" checked/> Desenvolvimento
              {% else %}
                <input type="radio" name="webmaniabrnfe_sefaz_env" value="1"/> Produção<br/>
                <input type="radio" name="webmaniabrnfe_sefaz_env" value="2"/> Desenvolvimento
              {% endif %}
            </div>
          </div>

          <h4><strong>Configuração Padrão</strong></h4>
          <div class="form-group">
            <div class="form-group">
              <label class="control-label col-sm-2">Envio automático de email:<br/><em style="font-weight: 400;color: red">Atenção: O email será enviado mesmo para notas emitidas em ambiente de homologação!</em></label>
              <div class="col-sm-10">
                {% if webmaniabrnfe_envio_email == 'on'  or  not webmaniabrnfe_envio_email %}
                  <input type="radio" name="webmaniabrnfe_envio_email" value="on" checked/> Ativado<br/>
                  <input type="radio" name="webmaniabrnfe_envio_email" value="off"/> Desativado
                {% else %}
                  <input type="radio" name="webmaniabrnfe_envio_email" value="on"/> Ativado<br/>
                  <input type="radio" name="webmaniabrnfe_envio_email" value="off" checked/> Desativado
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Natureza da Operação:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="webmaniabrnfe_operation_nature" value="{{ webmaniabrnfe_operation_nature }}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Classe de Imposto:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="webmaniabrnfe_tax_class" value="{{ webmaniabrnfe_tax_class }}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">GTIN (Antigo código EAN):</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="webmaniabrnfe_ean_barcode" value="{{ webmaniabrnfe_ean_barcode }}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">GTIN Tributável</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="webmaniabrnfe_gtin_tributavel" value="{{ webmaniabrnfe_gtin_tributavel }}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Código NCM:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="webmaniabrnfe_ncm_code" value="{{ webmaniabrnfe_ncm_code }}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Código CEST:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="webmaniabrnfe_cest_code" value="{{ webmaniabrnfe_cest_code }}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">CNPJ do fabricante da mercadoria</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="webmaniabrnfe_cnpj_fabricante" value="{{ webmaniabrnfe_cnpj_fabricante }}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Indicador de escala relevante</label>
              <div class="col-sm-10">
                <select style="margin-top:10px" name="webmaniabrnfe_ind_escala">
                  <option value="">Selecionar</option>
                  {% set options = {
                    'S': 'S - Produzido em Escala Relevante',
                    'N': 'N - Produzido em Escala NÃO Relevante'
                  }
                  %}
                  {% for value, option in options %}
                    {% if value == webmaniabrnfe_ind_escala%}
                      {{ '<option value="'~value~'" selected>'~option~'</option>' }}
                    {% else %}
                      {{ '<option value="'~value~'">'~option~'</option>' }}
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Origem dos Produtos:</label>
              <div class="col-sm-10">
                <select style="margin-top:10px" name="webmaniabrnfe_product_source">
                  <option>Selecionar Origem dos Produtos</option>
                  {% set options = {
                    '0': '0 - Nacional, exceto as indicadas nos códigos 3, 4, 5 e 8',
                    '1': '1 - Estrangeira - Importação direta, exceto a indicada no código 6',
                    '2': '2 - Estrangeira - Adquirida no mercado interno, exceto a indicada no código 7',
                    '3': '3 - Nacional, mercadoria ou bem com Conteúdo de Importação superior a 40% e inferior ou igual a 70%',
                    '4': '4 - Nacional, cuja produção tenha sido feita em conformidade com os processos produtivos básicos de que tratam as legislações citadas nos Ajustes',
                    '5': '5 - Nacional, mercadoria ou bem com Conteúdo de Importação inferior ou igual a 40%',
                    '6': '6 - Estrangeira - Importação direta, sem similar nacional, constante em lista da CAMEX e gás natural',
                    '7': '7 - Estrangeira - Adquirida no mercado interno, sem similar nacional, constante lista CAMEX e gás natural',
                    '8': '8 - Nacional, mercadoria ou bem com Conteúdo de Importação superior a 70%'
                  }
                  %}
                  {% for value, option in options %}
                    {% if value == webmaniabrnfe_product_source%}
                      {{ '<option value="'~value~'" selected>'~option~'</option>' }}
                    {% else %}
                      {{ '<option value="'~value~'">'~option~'</option>' }}
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <h4><strong>Indicativo de Intermediador</strong></h4>
          <div class="form-group">
            <div class="form-group">
              <label class="control-label col-sm-2">Intermediador da operação:</label>
              <div class="col-sm-10">
                <select style="margin-top:10px" name="webmaniabrnfe_intermediador">
                  <option value="0" {% if webmaniabrnfe_intermediador == 0 %} selected {% endif %}>0 - Operação sem intermediador (em site ou plataforma própria)</option>
                  <option value="1" {% if webmaniabrnfe_intermediador == 1 %} selected {% endif %}>1 - Operação em site ou plataforma de terceiros (intermediadores/marketplace)</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">CNPJ do Intermediador:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="webmaniabrnfe_intermediador_cnpj" value="{{ webmaniabrnfe_intermediador_cnpj }}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">ID do Intermediador:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="webmaniabrnfe_intermediador_id" value="{{ webmaniabrnfe_intermediador_id }}"/>
              </div>
            </div>
          </div>

          <h4><strong>Informações Complementares (Opcional)</strong></h4>
          <div class="form-group">
            <div class="form-group">
              <label class="control-label col-sm-2">Informações ao Fisco:</label>
              <div class="col-sm-10">
                <textarea maxlength="2000" class="form-control" name="webmaniabrnfe_fisco_inf">{{ webmaniabrnfe_fisco_inf}}</textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2">Informações Complementares ao Consumidor:</label>
              <div class="col-sm-10">
                <textarea maxlength="2000" class="form-control" name="webmaniabrnfe_cons_inf">{{ webmaniabrnfe_cons_inf }}</textarea>
              </div>
            </div>
          </div>

          <h4><strong>Opções adicionais</strong></h4>
          <div class="form-group">
            <div class="form-group">
              <label class="control-label col-sm-2">Habilitar Máscara de Campos:</label>
              <div class="col-sm-10">
                {% if webmaniabrnfe_mask_fields == 'on' %}
                  <input type="radio" name="webmaniabrnfe_mask_fields" value="on" checked/> Ativado<br/>
                  <input type="radio" name="webmaniabrnfe_mask_fields" value="off"/> Desativado
                {% else %}
                  <input type="radio" name="webmaniabrnfe_mask_fields" value="on"/> Ativado<br/>
                  <input type="radio" name="webmaniabrnfe_mask_fields" value="off" checked/> Desativado
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2">Habilitar Preenchimento Automático de Endereço:</label>
              <div class="col-sm-10">
                {% if webmaniabrnfe_fill_address == 'on' %}
                  <input type="radio" name="webmaniabrnfe_fill_address" value="on" checked/> Ativado<br/>
                  <input type="radio" name="webmaniabrnfe_fill_address" value="off"/> Desativado
                {% else %}
                  <input type="radio" name="webmaniabrnfe_fill_address" value="on"/> Ativado<br/>
                  <input type="radio" name="webmaniabrnfe_fill_address" value="off" checked/> Desativado
                {% endif %}
              </div>
            </div>
          </div>

          <h4><strong>Informações de pagamento</strong></h4>
          <div class="form-group">
            <label class="control-label col-sm-2">Métodos de pagamento<span data-toggle="tooltip" title data-original-title="Relacione os métodos de pagamento à forma de pagamento"></span></label>
            <div class="col-sm-10">
              <table class="table">
                <thead>
                <th>Método</th>
                <th>Forma de pagamento</th>
                <th class="payment-desc-title">Descrição do pagamento</th>
                </thead>
                <tbody>
                {% for key, payment_method in payment_methods %}
                  <tr>
                    <td>{{ payment_method }}</td>
                    <td>
                      <select class="webmaniabrnfe-payment-methods-sel" name="webmaniabrnfe_payment_{{ key }}">
                        <option value="">Selecionar</option>
                        {% set options = {
                          '01' : 'Dinheiro',
                          '02' : 'Cheque',
                          '03' : 'Cartão de Crédito',
                          '04' : 'Cartão de Débito',
                          '05' : 'Crédito Loja',
                          '10' : 'Vale Alimentação',
                          '11' : 'Vale Refeição',
                          '12' : 'Vale Presente',
                          '13' : 'Vale Combustível',
                          '15' : 'Boleto Bancário',
                          '16' : 'Depósito Bancário',
                          '17' : 'Pagamento Instantâneo (PIX)',
                          '18' : 'Transferência bancária, Carteira Digital',
                          '19' : 'Programa de fidelidade, Cashback, Crédito Virtual',
                          '90' : 'Sem pagamento',
                          'pagseguro' : 'PagSeguro',
                          '99' : 'Outros'
                        }
                        %}
                        {% for value, label in options %}
                          {% set var = 'webmaniabrnfe_payment_'~key %}
                          {% if value == attribute(_context, var) %}
                            {{ '<option value="'~value~'" selected>'~label~'</option>' }}
                          {% else %}
                            {{ '<option value="'~value~'">'~label~'</option>' }}
                          {% endif %}
                        {% endfor %}
                      </select>
                    </td>
                    <td>
                      <input class="webmaniabrnfe-payment-desc" type="text" name="webmaniabrnfe_payment_{{ key }}_desc" value="{% set var = 'webmaniabrnfe_payment_'~key~'_desc' %}{{ _context[var] }}" {% set var = 'webmaniabrnfe_payment_'~key %}{% if _context[var] != 99 %}{{'style="display:none;"'}}{% endif %} />
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <h4><strong>Informações da Transportadora</strong></h4>
          <div class="form-group">
            <label class="control-label col-sm-2">Incluir dados na NF-e<span data-toggle="tooltip" title data-original-title="Incluir dados da transportadora em pedidos enviados com o método configurado"></span></label>
            <div class="col-sm-10">
              {% if webmaniabrnfe_transp_include == 'on' %}
                <input type="radio" name="webmaniabrnfe_transp_include" value="on" checked/> Ativado<br/>
                <input type="radio" name="webmaniabrnfe_transp_include" value="off" /> Desativado
              {% else %}
                <input type="radio" name="webmaniabrnfe_transp_include" value="on" /> Ativado<br/>
                <input type="radio" name="webmaniabrnfe_transp_include" value="off" checked/> Desativado
              {% endif %}
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2">Transportadoras</label>
            <div class="col-sm-10">
              <div class="carriers-list">
                {% set arr = webmaniabrnfe_carriers_d %}

                {% if not arr is iterable %}
                  {% set arr = [] %}
                {% endif %}

                {% for carrier in arr %}
                  {{ '<div class="carrier-item" data-id="'~carrier.id~'"><p>'~carrier.razao_social~'<br/>(<span>Editar</span>)</p><span class="delete">x</span></div>' }}
                {% endfor %}
              </div>
              <button type="button" class="btn btn-primary btn--add-carrier" data-toggle="modal" data-target="#add-carrier-modal">Adicionar transportadora</button>
              <input type="hidden"  name="webmaniabrnfe_carriers" value="{{ webmaniabrnfe_carriers }}" />
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-carrier-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nova Transportadora</h4>
      </div>
      <div class="modal-body form-horizontal">
        <div class="form-group" style="padding-top:0">
          <label class="control-label col-sm-3">Método de entrega</label>
          <div class="col-sm-9">
            <select style="margin-top:10px" name="webmaniabrnfe_transp_method">
              <option value="">Selecionar</option>
              {% for id, title in methods %}
                {% if id == webmaniabrnfe_transp_method %}
                  {{ '<option value="'~id~'" selected>'~title~'</option>' }}
                {% else %}
                  {{ '<option value="'~id~'">'~title~'</option>' }}
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Razão Social</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="webmaniabrnfe_transp_rs" value="">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">CNPJ</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="webmaniabrnfe_transp_cnpj" value="">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Inscrição Estadual</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="webmaniabrnfe_transp_ie" value="">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Endereço</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="webmaniabrnfe_transp_address" value="">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">CEP</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="webmaniabrnfe_transp_cep" value="">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Cidade</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="webmaniabrnfe_transp_city" value="">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">UF</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="webmaniabrnfe_transp_uf" value="">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn--confirm-carrier">Adicionar</button>
        <input type="hidden" name = "current-edit" value="" />
      </div>
    </div>
  </div>
</div>
{{ footer }}